body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    font-family: verdana, sans-serif;
}

#title-container {
    flex-shrink: 0; 
    background-color:#270143;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 50px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#title-container h1 {
    font-family: montserrat, sans-serif;
    font-weight:bold ;
    font-size : 2rem !important; 
    color: #f4efe7; 
    text-align: center; 
}

#content {
    display: flex;
    height: calc(100vh - 50px); /* Full height minus the title bar */
  }

#filter-panel {
  width: 20%; /* Fixed width for the filter panel */
  background-color: #f9f9f9;
  padding: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

#school-sector-container {
    display:block;
    flex-direction: column;
    margin-bottom: 10px
}


#drop-down-box-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}


.controls {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-school-name-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    background: white;
    max-height: 150px;
    overflow-y: auto;
    position:relative;
    width: 200px;
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}

#dashboard-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: 1fr 1fr; /* Two rows */
    gap: 10px; /* Spacing between quadrants */
    flex: 1; /* Take up the remaining space */
    padding: 10px;
    box-sizing: border-box;
  }

#map {
  grid-column: 1 / 2; /* Place the map in the first column */
  grid-row: 1 / 2; /* Place the map in the first row */
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 200px; /* Ensure the map has a minimum height */
  height: 100%; /* Fill the quadrant */
  width: 100%; /* Fill the quadrant */
}

#info-panel {
    grid-column: 2 / 3; /* Place the info panel in the second column */
    grid-row: 1 / 2; /* Place the info panel in the first row */
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .ward-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
  }
  
  .ward-container input[type="checkbox"] {
    margin-right: 5px; /* Add spacing between the checkbox and the label */
  }

  /* Style for the Predict With Scenario button */
#predict-scenario-btn {
    background-color: #270143;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  #predict-scenario-btn:hover {
    background-color: #37284e; /* Darker green on hover */
  }
  
  /* Style for the scenario panel */
  #scenario-panel {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 15px;
  }

  #scenario-panel h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .slider-container {
    margin-bottom: 20px;
    text-align: center; 
  }
/*   
  .slider-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  } */
  .slider-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 让 label 和 slider 左对齐 */
  }
  
  .slider-title label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .slider-container input[type="range"] {
    width: 100%;
    margin: 10px 0;
  }
  
  .slider-container span {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }

  /* Style the slider track (the bar) */
input[type="range"]::-webkit-slider-runnable-track {
    background: #270143;
    height: 8px; /* Adjust the height of the track */
    border-radius: 5px; /* Rounded corners */
    border: none; /* Remove border */
  }
  
  /* Style the slider thumb (the draggable part) */
  input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    background: #37284e;
    border: 2px solid #fff; /* Optional white border */
    cursor: pointer; /* Change cursor to pointer */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow */
  }
  
#layer-toggle-select {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  
#layer-toggle-select:hover {
    background-color: #f0f0f0;
  }
  

#title-container h1 {
    margin: 0;
    font-size: 1.8rem;
}

#button-container {
    display: flex;
    gap: 10px;
}

#button-container button {
    padding: 10px 20px;
    background-color: #37284e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#button-container button:hover {
    background-color: #a6bfd1;
    transform: scale(1.05);}

#button-container button:active {
    background-color: #5D7580;
    transform: scale(0.95);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    
    /* Hide by default with these properties */
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.popup.show {
    display: flex;
    visibility: visible;
    opacity: 1;
}

.popup-content {
    background-color: rgb(166, 185, 207);
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 80%;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.popup-content h2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10;
    color: #333;
}
  
.popup-content p {
    margin: 50px 0;
    line-height: 1.5;
    color: #333;
}

#scenario-help-btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scenario-help-btn img {
  width: 16px;
  height: 16px;
  object-fit: contain; /* 防止拉伸变形 */
  display: block;      /* 移除 img 下方多余空隙 */
}

#close-popup-btn, #scenario-help-close-btn {
    display: block;
    margin: 20px auto 0;
    padding: 8px 16px;
    background-color: #718D99;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#close-popup-btn, #scenario-help-close-btn:hover {
    background-color: #a6bfd1;
    transform: scale(1.05);
}

#close-popup-btn, #scenario-help-close-btn:active {
    background-color: #5D7580;
    transform: scale(0.95);
}

/* Charts container */
#charts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; /* Increase spacing between charts and info panel */
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    height: 60%; /* Allocate 60% of the container height to charts and info panel */
}


  #info-panel h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  #info-box {
    padding: 10px;
    background-color: rgba(247, 245, 249, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

/* Individual chart containers */
.chart-container {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .chart-container:nth-child(3) {
    grid-column: 1 / 2; /* Place the bar chart in the bottom-left quadrant */
    grid-row: 2 / 3;
  }
  
  .chart-container:nth-child(4) {
    grid-column: 2 / 3; /* Place the line chart in the bottom-right quadrant */
    grid-row: 2 / 3;
  }

/* Canvas elements for charts */
.chart-container canvas {
    width: 100%; /* Ensure the canvas fills the container */
    height: 100%; /* Ensure the canvas fills the container */
    max-height: 400px; /* Increase the maximum height of the charts */
}

/* Line chart and ward bar chart */
#line-chart, #ward-bar-chart {
    width: 100%;
    height: 100%; /* Ensure the canvas fills the container */
}

/* Ward summary */
#ward-summary {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Legend */
.legend {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(249, 249, 249, 0.7);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 12px;
  }

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.color-box {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}